NODE_ENV=development
PORT=9000

BASE_URL_DEV=http://localhost:9000
BCRYPT_SALT=12
REFRESH_TOKEN_SECRET=hththjjkekdkkkdkd
JWT_AUTH_SECRET=kdkdkkdkk
ELK_VERSION=7.5.1

#MAIL_HOST=
#MAIL_PORT=
#MAIL_CONNECTION=
#MAIL_USERNAME=
#MAIL_PASSWORD=

DB_NAME=korapay
DB_HOST=127.0.0.1
DB_PORT=8889
DB_USERNAME=root
DB_PASSWORD=root

#DB_NAME=
#TEST_DB_NAME=
#DB_HOST=localhost
#DB_PORT=8889
#DB_USERNAME=root
#DB_PASSWORD=root

BASE_URL_DEV=
BASE_URL_URL_PROD=


REDISCLOUD_URL=redis:6379


