NODE_ENV=development
PORT=8000

BASE_URL_DEV=http://localhost:8000
BCRYPT_SALT=12
REFRESH_TOKEN_SECRET=hththjjkekdkkkdkd
JWT_AUTH_SECRET=kdkdkkdkk

DB_NAME=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=null

DB_NAME_TEST=
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=8889
DB_USERNAME_TEST=root
DB_PASSWORD_TEST=root

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=


REDISCLOUD_URL=redis:6379


